
<section class="home-main">
  <div class="container title" style="">
    <div class="row justify-content-center">
        <h1>Discover your favorite music</h1>
    </div>
  </div>

<div class="container bg">
  <div class="row">
    <form action="/artist-search" method="GET" class="col-sm d-flex flex-row justify-content-center align-items-center">
      <input type="search" placeholder="Search for your favorite music..." name="q" />
      <button class="btn btn-light">Search</button>
    </form>
  </div>
</div>
<div class="container">
  <div class="row flex-column" >
    <div class="d-flex align-items-center justify-content-center" style="height: 60vh">
    <h1>Music for everyone.</h1>
    </div>
  </div>
</div>
</section>
