
<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>

<section class="home-main">
  <div class="container title" style="">
    <div class="row justify-content-center">
        <h1>Discover your favorite music</h1>
    </div>
  </div>

<div class="container bg">
  <div class="row">
    <form action="/artist-search" method="GET" class="col-sm d-flex flex-row justify-content-center align-items-center">
      <input type="search" placeholder="Search for your favorite music..." name="q" />
      <button class="btn btn-light">Search</button>
    </form>
  </div>
</div>





</section>